*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
    color: white;
    font-size: 3em;
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
  
}
#icon-user a{
    text-decoration: none;
}

header{
    
    width: 100%;
    height: 225px;
    background-color: #282828;
    
}
header #banner img{
    
    width: 66.67%;
    height: 225px;
    float: left;
    
}
header #logo  {
    
    width: 33%;
    height: 112.5px;
   
    float: left;
    display: flex;
    justify-content: center;
    
}
header #logo img {
   
    height: 70px;
    margin: 8% 1%;
    float: left;
}
header #login {
    width: 33%;
    height: 112.5px;
    float: left;
    display: flex;
    justify-content: center;
    
}

#crearcuenta, #iniciarsesion, #icon-user{
    padding: 10px;
    color: white;
    float: left;
    display: flex;
    justify-content: center;
    
    
}
#crearcuenta a, #iniciarsesion a, #icon-user span{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 25% 0;
    display: flex;
    justify-content: center;
    gap: 3px;
}


.button  {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    background-color: black;
    border-radius: 100px;
    border: 1px solid #000000;
    color: white;
    
}
.contenedor-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.button:hover{
    background-color: #575757;
    border: 1px solid #575757;
}
nav{
    float: left;
    width: 100%;
    height: 50px;
    background-color: #282828;
    /*position: fixed;
    top:250px;*/
    text-align: center;
    padding: 2px 0;
    
}

nav a{
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    
}


nav a:hover{
    background-color: #4261FF;
    border-radius: 10px;
}
main{
    float:left;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    
}
footer{
    float: left;
    width: 100%;
}


form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    box-sizing: border-box;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.Pie-de-pagina{
    background-color: #282828;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    color: white;
}

.Pie-de-pagina a{
    text-decoration: none;
    color: white;
}

.redes_sociales{
    display: flex;
    align-items: center;
    gap: 25px;
}

.redes_sociales img{
    border-radius: 20px;
    width: 50px;
    height: 50px;
}

.contacto{
    font-size: 20px;
}

  .campo-container {
            position: relative;
            margin-bottom: 20px;
        }

 #mensajeEmergente {
            display: none;
            position: absolute;
            left: 100%; /* Muestra al lado derecho del input */
            margin-left: 10px; /* Espacio entre el input y el mensaje */
            padding: 5px;
            background: transparent;
            color: black;
            font-size: 14px;
            white-space: nowrap; 
        }
