body{
    margin: 0;
    padding-top: 106px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #282828;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header div a{
    color: white;
    text-decoration: none;
}

nav a{
    margin: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

nav a:hover{
    background-color: #4261FF;
    border-radius: 10px;
}

.Principal{
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

.fondo{
    background-image: url('../Img/Fondo-reuniones.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
}

.Sub-principal{
    box-sizing: border-box;
    text-align: center;
    margin: 0 300px;
    padding: 50px;
    color: white;
}

.Sub-principal h2{
    font-size: 50px;
}

.Sobre-reuniones{
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 100px;
}

.Sub-reuniones{
    box-sizing: border-box;
    text-align: center;
    padding: 25px 70px;
}

.Sub-reuniones h2{
    font-size: 50px;
}

.Sub-reuniones p {
    text-align: justify;
    font-size: 25px;
}

.fondo-2{
    background-image: url('../Img/Presentacion-sobre-habitaciones.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 90vh;
    z-index: -1;
}

.Contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.Contenedor-img {
    overflow: hidden;
}

.Contenedor-img img {
    height: 100%;
    width: 100%; 
    display: block;
}

.Contenedor-txt {
    margin: auto 30px;
    padding: 20px;
    text-align: center;

}

.Contenedor-txt h2 {
    margin-top: 0;
}

.Contenedor-txt p{
    text-align: justify;
}

button{
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    background-color: darkgray;    
}

a{
    text-decoration: none;
    color: black;
}

button:hover{
    background-color: #4261FF;
    transition: background-color 0.3s ease;
}

a:hover{
    color: white;
}

.Pie-de-pagina{
    background-color: #282828;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    color: white;
}

.Pie-de-pagina a{
    text-decoration: none;
    color: white;
}

.redes_sociales{
    display: flex;
    align-items: center;
    gap: 25px;
}

.redes_sociales img{
    border-radius: 20px;
}

.contacto{
    font-size: 20px;
}